.input-container {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 3.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 10px #a1a1a1;
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
}

.search-bar:focus {
    outline: none;
}

#search-icon {
    color: brown;
}